i{
  cursor: pointer;
}

i:hover {  
  cursor: pointer;
  color: #eb2020;
}

i:active {
  transform: translateY(2px);
}

.fa-pen-to-square{
  cursor: pointer;
}

.fa-pen-to-square:hover {  
  cursor: pointer;
  color: #09c71f;
}

.fa-pen-to-square:active {
  transform: translateY(2px);
}
